*{margin: 0; padding: 0;}
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 100vh;
}
h1 {
    margin-top: 1em;
    margin-bottom: 1em;
}
h2 {
    margin-bottom: 2em;
}
header {
    background-color: darkcyan;
    padding-left: 3em;
    padding-right: 3em;
}
main {
    padding-left: 2.5em;
}
header ul {
    list-style-type: none;
}
header ul li {
    margin-top: 1em;
}
header li a {
    text-decoration: none;
    color: white;
}
header li a:hover {
    color: black;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}
.element {
    background-color: rgb(236, 235, 235);
    border: 1px solid gray;
    width: 170px;
    height: 200px;
}
.element nav {
    background-color: white;
}
.element ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: 78px;
}
.element p {
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;
    height: 90px;
}
.form {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-right: 2em;
}