<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raw - Comida Natural</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h1>
            <img src="images/logo.png" alt="">
        </h1>
    </header>
    <main>
        <section>
            <figure>
                <img src="images/destaque.png" alt="">
            </figure>
        </section>
        <section>
            <ul>
                <li><img src="images/comida1.png" alt=""></li>
                <li><img src="images/comida2.png" alt=""></li>
                <li><img src="images/comida3.png" alt=""></li>
                <li><img src="images/comida4.png" alt=""></li>
                <li><img src="images/comida5.png" alt=""></li>
                <li><img src="images/comida6.png" alt=""></li>
                <li><img src="images/comida7.png" alt=""></li>
                <li><img src="images/comida8.png" alt=""></li>
                <li><img src="images/comida9.png" alt=""></li>
                <li><img src="images/comida10.png" alt=""></li>
                <li><img src="images/comida11.png" alt=""></li>
                <li><img src="images/comida12.png" alt=""></li>
            </ul>
        </section>
        <section>
            <h2>O chef</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum quae ea nesciunt natus assumenda eveniet sint ducimus modi impedit iste error pariatur animi harum delectus repellendus, aliquam adipisci similique voluptates. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex voluptatem consequuntur atque minus at, temporibus sit sed expedita necessitatibus aliquam, corrupti vel pariatur laborum impedit. Libero aspernatur quaerat qui adipisci.</p>
        </section>
    </main>
    <footer>
        <address>Rua Olinto Meira, 379, Cidade Alta</address>
    </footer>
</body>
</html>